*.pyc
*.pickle
*.txt
*.stats
*.csv
wi.csv
MNIST/
obsolute/
test/
debug/
client_data/
*.sh
codec-test/*.png
codec-test/test
codec-test/test/*.png
codec-test/tes2/
codec-test/tes2/*.png
codec-test/tes*/
*.pyc
*.jpg
*.png
*.auto
